<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>City Map</title>
    <script src="https://d3js.org/d3.v7.min.js"></script>

    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <h1>City Map</h1>
    <br />
    <a href="/" class="map-link">⬅️ Back to Home</a>
    <br />

    <svg width="1000" height="600" style="border: 1px solid #a61717"></svg>
    <button id="calculate-path" style="margin-top: 20px">
      Calculate Shortest Path
    </button>

    <!-- Add a section to display path details -->
    <div id="path-details" style=""></div>
    <script id="graph-nodes" type="application/json">
      <%- JSON.stringify(locations.map(loc => ({ id: loc.name }))) %>
    </script>
    <script id="graph-links" type="application/json">
      <%- JSON.stringify(routes.map(r => ({ source: r.from.name, target: r.to.name, distance: r.distance }))) %>
    </script>
    <script src="/js/map.js"></script>
  </body>
</html>
<%- include('../partials/footer')%>
