<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <div class="container">
      <h1>Register</h1>
      <% if (error) { %>
      <p class="error"><%= error %></p>
      <% } %>
      <form action="/register" method="POST" class="main-form">
        <div class="mb-4">
          <label for="username" class="">Username</label>
          <input
            type="text"
            name="username"
            id="username"
            required
            class="login-input"
          />
        </div>
        <div class="mb-4">
          <label for="password" class="">Password</label>
          <input
            type="password"
            name="password"
            id="password"
            required
            class="login-input"
          />
        </div>
        <button type="submit" class="submit-button">Register</button>
      </form>
      <p class="">
        Already have an account?
        <a href="/login" class="">Login</a>
      </p>
    </div>
  </body>
</html>
